.single-product {
    display: flex;
    border-bottom: 1px solid gray;
    margin: 5px;
    font-weight: 400;
    padding-bottom: 5px;
}

.single-product img {
    margin-right: 5px;
}

.product-name {
    color: blue;
    font-weight: 400;
}

button {
    background-color: rgb(235, 167, 78);
    padding: 10px 40px;
    color: black;
    font-weight: 400;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}